* {
  margin: 0;
}

body {
  overflow-x: hidden;
}

.heading {
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  height: 60px;
}

.smooth {
  transition: transform calc(var(--f, 1) * 0.5s) ease-out;
}

.container {
  --n: 5;
  display: flex;
  align-items: center;
  overflow-y: hidden;
  width: 100%;
  width: calc(var(--n) * 100%);
  height: 50vw;
  max-height: 90vh;
  transform: translate(calc(var(--i, 0) / var(--n) * -100% + var(--tx, 0px)));
  transition: transform 0.5s ease-out;
  img {
    width: 100%;
    width: calc(100% / var(--n));
    pointer-events: none;
  }
}
